.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6rem;
  border-bottom: 0.5px solid;
}
.feelings {
  padding-bottom: 1.3rem;
}
span {
  width: 40%;
}

.main-box input,
textarea {
  width: 50%;
  border: none;
  outline: none;
  transition: all 0.6s;
}

input::placeholder {
  color: #25b393;
}

.nothing::placeholder {
  color: red;
}

input::-webkit-input-placeholder {
  color: #25b393;
}
input:-ms-input-placeholder {
  color: #25b393;
}

.main-box input:focus {
  background-color: #c8e5d3;
  padding: 4px;
  border-radius: 7px;
}

textarea::placeholder {
  color: #25b393;
}

textarea::-webkit-input-placeholder {
  color: #25b393;
}

textarea::-ms-input-placeholder {
  color: #25b393;
}

textarea:focus {
  background-color: #c8e5d3;
  padding: 4px;
  border-radius: 7px;
}

.submit {
  justify-content: end;
  gap: 1rem;
}
