.background {
  position: fixed;
  z-index: 10;

  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.backDrop {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 20;

  padding: 0 30px 0px 30px;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-height: 892px) {
  .backDrop {
    top: 2vh;
  }
}

.backDrop > div {
  padding: 30px 30px 20px 30px;
}

.backDrop > div:nth-child(1) {
  padding: 10px 30px 10px 30px;
  background-color: #f7f39c;
  color: orange;
}

.backDrop > div:nth-child(2) {
  background-color: #f8feb5;
}

.backDrop > div:nth-child(2) button {
  background-color: #f7f39c;
  color: orange;
}

.backDrop > div:nth-child(3) {
  background-color: #dff5f0;
  color: #14bab2;
}

.backDrop > div:nth-child(3) span {
  font-weight: bolder;
}
.backDrop > div:nth-child(4) {
  background-color: #dff5f0;
}
