img {
  width: 8.125rem;
}
.body {
  width: 75rem;
}
.row {
  display: flex;
  width: 75rem;
  background-color: rgba(248, 254, 181, 1);
  transition: 0.5s;
}
.col {
  border: 0.1rem solid white;
  width: 10.7rem;
  height: 10.59rem;
}
.cell {
  padding-top: 1rem;
  font-size: 1.3rem;
  transition: 0.3s;
}
.valid {
  color: #e87902;
}
.disabled {
  color: gray;
  pointer-events: none;
}
.disabled img {
  display: none;
}
.selected {
  color: #e87902;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: rgb(251, 255, 211);
}
.valid-day {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.not-valid {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.emoticon {
  margin-top: 1rem;
}
.emoticon img {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  cursor: pointer;
}
