header {
  height: 7vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
footer {
  width: 87rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
